@import './variables';
@import './base';

.page-header {
  background-color: $color-gray;
  margin-bottom: 1.5rem;
  padding: 1rem;

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  a {
    & + a {
      &:before { content: "|"; margin: 0 0.5rem }
    }
  }
}

.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}